[data-md-color-scheme="mca"] {
    --md-primary-fg-color:        #000080;
    --md-primary-fg-color--light: #5469c7;
    --md-primary-fg-color--dark:  #07058d;
    
    --md-accent-fg-color:        #e7b426;
    --md-accent-fg-color--light: #ecca6a;
    --md-accent-fg-color--dark:  #d19b08;
  }